{% extends 'base.html.twig' %}

{% block title %}Lit{% endblock %}

{% block body %}
    <h1>Lit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lit.id }}</td>
            </tr>
            <tr>
                <th>NumLit</th>
                <td>{{ lit.numLit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lit_index') }}">back to list</a>

    <a href="{{ path('lit_edit', {'id': lit.id}) }}">edit</a>

    {{ include('lit/_delete_form.html.twig') }}
{% endblock %}
