{% extends 'base.html.twig' %}

{% block title %}Rdv index{% endblock %}

{% block body %}
    <h1>Rdv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rdv in rdvs %}
            <tr>
                <td>{{ rdv.id }}</td>
                <td>{{ rdv.Date ? rdv.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rdv.Status }}</td>
                <td>
                    <a href="{{ path('rdv_show', {'id': rdv.id}) }}">show</a>
                    <a href="{{ path('rdv_edit', {'id': rdv.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rdv_new') }}">Create new</a>
{% endblock %}
