{% extends 'base.html.twig' %}

{% block title %}Nouveau rendez-vous{% endblock %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            Demander un nouveau rendez-vous
        </div>
        <div class="card-body">

</div>

    <center>{{ include('rdv/_form.html.twig') }}<br><h3><u>Rendez-vous de votre Medecin</u></h3><br></center>
            
        </div>
    </div>

<br/>
<div class="ui container">
  <div class="ui grid">
    <div class="ui sixteen column">
      <div id="calendar"></div>
    </div>
  </div>
</div>


    
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-bb9a2ba1f03f6147732cb3cd52ac86c6b24524aa87a05ed0b726f11e46d7e277.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
<script id="rendered-js">
$(document).ready(function () {
    listevent = []
      {% for listrdv in listrdvs %}
      var min = ""
      if ("{{listrdv.Date|date('i')}}"=="30") {
          min = "00"
          heure = "{{listrdv.Date|date('H')+1}}"
      } else {
          min = 30
          heure = "{{listrdv.Date|date('H')}}"
      }
      listevent.push({
          title: "{{listrdv.Date|date('H:i')}} - "+heure+":"+min,
      start: "{{listrdv.Date|date('Y-m-d')}}",
      end: "{{listrdv.Date|date('Y-m-d')}}",
      })
      {% endfor %}
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,basicWeek,basicDay' },

    defaultDate: '2021-03-08',
    navLinks: false, // can click day/week names to navigate views
    editable: true,
    eventLimit: true, // allow "more" link when too many events
    events: listevent,
    eventColor: '#1cc88a'
      });
});
//# sourceURL=pen.js
    </script>      
{% endblock %}